<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <!-- ${} : 템플릿 엔진(thymeleaf)이 모델내의 값들을 참조 -->
                <td th:text="${member.id}"></td>
                <!-- getter를 통해 값을 가져옴 -->
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>